.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding-top: 30px; 
    padding-bottom: 20px; 
}

ul{
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
}

.logo-github{
    width: 90px;
    height: 42px;
    border-radius: 50%;  
}

.logo-github:hover{
    transform: scale(1.2);
}

.logo-linkedIn{
    max-width: 45px;
    height: auto;
    border-radius: 50%;
}

.logo-linkedIn:hover{
    transform: scale(1.2);
}

@media(max-width:500px){
    .footer-container{ 
        grid-template-columns: 100%;
        grid-template-rows: auto;
        height: auto;
        justify-items: left;
        padding-top: 20px;
    }
    h3{
        font-size: small !important;
    }
    .footer-info{
        grid-row: 1/2;
        font-size: smaller;
        text-align: start !important;
    }

    .contact{
        padding-right: 20px;
    }

    .footer-contact{
        grid-row: 2/3;
        align-self: center;
        display: flex;
        flex-direction: row;
        
        text-align: start !important;
        padding-top: 20px !important;
        padding-left: 30px ;
    }
    .logo-linkedIn{
        max-width: 30px;
        height: auto;
        border-radius: 50%;
    }
    .footer-links{
        grid-row: 3/4;
        font-size: smaller;
        padding-top: 20px !important;
        padding-bottom: 20px;
    }
    .logo-github{
        width: 80px;
        height: 30px;
        border-radius: 50%;  
    }
    
    
}